<ion-view view-title="Rare Genomics Institute">
  <ion-content>
  <style>
    .in-take {
      outline: #000000 solid 1px;
      height: 40px;
      padding-top: 10px;
    }
    .edit {
      height: 160px;
      padding-top: 10px;
      outline: none;
    }

    .info {
      height: 50px;
      outline: #000000 solid 1px;
      width: 100%;
      display: table;
    }

  </style>

  <div style="text-align: center; font-size: 20px; padding-top: 20px; padding-bottom: 20px">We want to hear from you!</div>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name*">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name*">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email Address*">
    </label>
    <label class="item item-input">
      <textarea placeholder="Please tell us how we can help you:"></textarea>
    </label>
  </div>

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        I'm interested in:
      </div>
      <select>
        <option selected>DNA Testing</option>
        <option>Donating</option>
        <option>More information</option>
      </select>
    </label>

  </div>


  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Opt-in to receive communications:
      </div>
      <select>
        <option selected>Yes</option>
        <option>No</option>
      </select>
    </label>

  </div>

  <button class="button button-full button-calm">
    Submit
  </button>

  </ion-content>

  <div class="bar bar-footer" style="position: fixed; bottom: 0; margin: 0">
          <div style="padding-left: 7%">
            <a href="#/home">
              <button class="icon ion-home"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/calendar">
              <button class="icon ion-calendar"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/medical-contacts">
              <button class="icon ion-email"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-person"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-document"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-heart"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-alert-circled"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-pin"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-lock-combination"></button>
          </div>
    </div>

</ion-view>