<ion-view view-title="Clinical Research">
  <ion-content>
  <style>
    .in-take {
      outline: #000000 solid 1px;
      height: 40px;
      padding-top: 10px;
    }
    .edit {
      height: 160px;
      padding-top: 10px;
      outline: none;
    }

    .info {
      height: 50px;
      outline: #000000 solid 1px;
      width: 100%;
      display: table;
    }

  </style>

  <div style="padding: 30px">
    <div style="text-align: center; padding-top: 10px; padding-bottom: 20px outline: 2px;">Find a clinical research center:</div>
  </div>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Condition:">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Location:">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Doctor:">
    </label>
  </div>

  <a href="#/clinical-research-results" style="text-decoration: none">
    <button class="button button-full button-calm">
      Submit
    </button>
  </a>

  </ion-content>

  <div class="bar bar-footer" style="position: fixed; bottom: 0; margin: 0">
          <div style="padding-left: 7%">
            <a href="#/home">
              <button class="icon ion-home"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/calendar">
              <button class="icon ion-calendar"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/medical-contacts">
              <button class="icon ion-email"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-person"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-document"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-heart"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-alert-circled"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-pin"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-lock-combination"></button>
          </div>
    </div>

</ion-view>