<ion-view view-title="Home">
  <ion-content>
   <div class="padding" style="text-align: center;">
     <ion-wheel>
      <div id="activate" ng-click="showCircles()"><i ng-class="circlesHidden ? 'ion-arrow-expand' : 'ion-arrow-shrink'"></i></div>
      <div class="circle"><i class="icon ion-home"></i></div>
      <div class="circle"><i class="icon ion-alert-circled"></i></div>
      <div class="circle"><i class="icon ion-heart-broken"></i></div>
      <div class="circle"><i class="icon ion-trash-a"></i></div>
      <div class="circle"><i class="icon ion-email"></i></div>
      <div class="circle"><i class="icon ion-at"></i></div>
      <div class="circle"><i class="icon ion-pin"></i></div>
      <div class="circle"><i class="icon ion-lock-combination"></i></div>
    </ion-wheel>
       <h2 style="text-align: center;">My Health Hub</h2>
       <div class="row">
          <a href="#/calendar">
            <div class="col item"><i class="icon ion-calendar"></i><p>Calendar</p></div>
          </a>
          <div class="col item"><i class="icon ion-person"></i><p>Health Data</p></div>
          <div class="col item"><i class="icon ion-document"></i><p>Documents</p></div>
        </div>

        <div class="row">
          <div class="col col-33 col-offset-33"><img src="img/rg-logo.png" style="width: 100%;"></div>
        </div>

        <div class="row">
        <a href="#/rareshare-options" style="text-decoration: none">
         <div class="col item"><i class="icon ion-mail"></i><p>RareShare</p></div>
        </a>
         <div class="col item"><i class="icon ion-usd"></i><p>Donations</p></div>
         <a href="#/medication" style="text-decoration: none">
           <div class="col item"><i class="icon ion-medical"></i><p>Medications</p></div>
         </a>
        </div>
   </div>
   <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Post an Update:">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

    </div>
  </ion-content>
  <a href="#/sign-in">
       <button class="button button-full button-calm" style="position: fixed; bottom: 0; margin: 0;">
          Connect with Rare Genomics
        </button>
   </a>
</ion-view>
