<ion-view view-title="Home">
  <ion-content>
   <div class="padding" style="text-align: center;">
       <h2 style="text-align: center;">My Health Hub</h2>
       <div class="row">
         <div class="col item"><i class="icon ion-calendar"></i><p>Calendar</p></div>
          <div class="col item"><i class="icon ion-person"></i><p>Health Data</p></div>
          <div class="col item"><i class="icon ion-document"></i><p>Documents</p></div>
        </div>

        <div class="row">
          <div class="col col-33 col-offset-33"><img src="img/rg-logo.png" style="width: 100%;"></div>
        </div>

        <div class="row">
         <div class="col item"><i class="icon ion-mail"></i><p>RareShare</p></div>
         <div class="col item"><i class="icon ion-usd"></i><p>Donations</p></div>
         <div class="col item"><i class="icon ion-medical"></i><p>Medications</p></div>
        </div>
   </div>
   <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Post an Update:">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

    </div>
  </ion-content>
  <a href="#/sign-in">
       <button class="button button-full button-calm" style="position: fixed; bottom: 0; margin: 0;">
          Connect with Rare Genomics
        </button>
   </a>
</ion-view>
