<ion-view view-title="Medical Contacts">
  <ion-content>
    <html>
        <head>
             <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            </style>
        </head>
    <body>
        <table>
          <tr>
            <th><b>Name</b></th>
            <th><b>Number</b></th>
            <th><b>Email</b></th>
          </tr>
          <tr>
            <td>Contact1</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <td>Contact2</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <td>Contact3</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <td>Contact4</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <td>Contact5</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <td>Contact6</td>
            <td>123456789</td>
            <td>test@gmail.com</td>
          </tr>
        </table>





</body>
</html>
  </ion-content>
</ion-view>