<ion-view view-title="">
	<ion-content>
	<style>
		.in-take {
			outline: #000000 solid 1px;
			height: 40px;
			padding-top: 10px;
		}
		.edit {
			height: 160px;
			padding-top: 10px;
			outline: none;
		}

		.info {
			height: 50px;
			outline: #000000 solid 1px;
			width: 100%;
			display: table;
		}

	</style>

	<div class="edit" style="height: 680px; background-color: #F0F0F0 "> 
		<div style="height: 20%"></div>
		<span style="text-align: center; font-size: 40px; padding-left: 35%">8:30 AM</span>
		<span style="text-align: center; font-size: 19px; padding-left: 28%">Wednesday August 17th</span>
		<div style="height: 5%"></div>
		<div>
			<img src="../../img/cancelled-box.png" style="padding-left: 40%; height: 80px;">
		</div>
		<div style="height: 5%"></div>
		<span style="text-align: center; font-size: 40px; padding-left: 38%">Alarm</span>
		<span style="text-align: center; font-size: 19px; padding-left: 26%">Time to take Medication X</span>
		<div style="height: 5%"></div>
		<a href="#/medication-alert-settings">
			<i class="icon ion-plus-round" style="padding-left: 26%"> </i> 
			<span style="text-aling: center; font-size: 19px;">Tap to Delay or Change</span>
		</a>
	</div>

	</ion-content>

	<div class="bar bar-footer" style="position: fixed; bottom: 0; margin: 0">
          <div style="padding-left: 7%">
	          <a href="#/home">
	            <button class="icon ion-home"></button>
	          </a>
      	  </div>
      	  <div style="padding-left: 7%">
	          <a href="#/calendar">
	            <button class="icon ion-calendar"></button>
	          </a>
          </div>
          <div style="padding-left: 7%">
	          <a href="#/medical-contacts">
	            <button class="icon ion-email"></button>
	          </a>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-person"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-document"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-heart"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-alert-circled"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-pin"></button>
      	  </div>
      	  <div style="padding-left: 7%">
          	<button class="icon ion-lock-combination"></button>
          </div>
    </div>

</ion-view>