<ion-view view-title="Time to take Medication X">
	<ion-content>
	<style>
		.in-take {
			outline: #000000 solid 1px;
			height: 40px;
			padding-top: 10px;
		}
		.edit {
			height: 160px;
			padding-top: 10px;
			outline: none;
		}

		.info {
			height: 50px;
			outline: #000000 solid 1px;
			width: 100%;
			display: table;
		}

	</style>

	<div class="edit" style="height: 180px"> 
		<div "display: inline-block">
			<div style="float: left; width: 30%; padding-left: 10%; padding-top: 5%;">
				<div style="padding-left: 10px">Alert</div>
				<div>8:30 AM</div>
			</div>
			<div>
				<img src="../../img/cancelled-box.png" style="padding-left: 10%; height: 80px;">
				<i class="icon ion-plus-round" style="padding-left: 1%"> </i>
			</div>
		</div>

		<div style="padding-top: 51px">
			<i class="icon ion-plus-round" style="padding-left: 10%"> </i>
			<i class="icon ion-medkit" style="padding-left: 28%"> </i>
			<i class="icon ion-ios-redo" style="padding-left: 5%"> </i>
			<i class="icon ion-ios-email-outline" style="padding-left: 5%"> </i>
			<i class="icon ion-printer" style="padding-left: 22%"> </i>
		</div>
	</div>

	<button class="button button-full button-calm">
		<div style="float: left; display: table-cell; width: 70%; vertical-align: middle; text-align: left">
			<span style="margin-top: 30%; padding-left: 10%; font-size: 18px;">Description: Put text here!!</span>
		</div>
		<div>
		<i class="icon ion-chevron-right" style="display:table-cell; width: 10%; vertical-align: middle"> </i>
		</div>
	</button>

	<button class="button button-full button-calm">
		<div style="float: left; display: table-cell; width: 70%; vertical-align: middle; text-align: left">
			<span style="margin-top: 30%; padding-left: 10%; font-size: 18px;">Dosages: Put text here!!</span>
		</div>
		</div>
		<i class="icon ion-chevron-right" style="display:table-cell; width: 10%; vertical-align: middle"> </i>
		</div>
	</button>

	<button class="button button-full button-calm">
		<div style="float: left; display: table-cell; width: 70%; vertical-align: middle; text-align: left">
			<span style="margin-top: 30%; padding-left: 10%; font-size: 18px;">Cycle, History of Date taken</span>
		</div>
		<div>
		<i class="icon ion-chevron-right" style="display:table-cell; width: 10%; vertical-align: middle"> </i>
		</div>
	</button>
	<a href="#/medication-alert">
	<button class="button button-full button-calm">
		<div style="float: left; display: table-cell; width: 70%; vertical-align: middle; text-align: left">
			<span style="padding-left: 10%; font-size: 18px; width: 90%;">Alerts, setting, delay, change</span>
		</div>
		<div>
			<i class="icon ion-chevron-right" style="display: table-cell; vertical-align: middle; color: white; width: 10%"> </i>
		</div>
	</button>
	</a>
	<button class="button button-full button-calm">
		<div style="float: left; display: table-cell; width: 70%; vertical-align: middle; text-align: left">
			<span style="margin-top: 30%; padding-left: 10%; font-size: 18px;">Messaging options & contacts</span>
		</div>
		<div>
		<i class="icon ion-chevron-right" style="display:table-cell; width: 10%; vertical-align: middle"> </i>
	</div>
	</button>

	</ion-content>

	<div class="bar bar-footer" style="position: fixed; bottom: 0; margin: 0">
          <div style="padding-left: 7%">
	          <a href="#/home">
	            <button class="icon ion-home"></button>
	          </a>
      	  </div>
      	  <div style="padding-left: 7%">
	          <a href="#/calendar">
	            <button class="icon ion-calendar"></button>
	          </a>
          </div>
          <div style="padding-left: 7%">
	          <a href="#/medical-contacts">
	            <button class="icon ion-email"></button>
	          </a>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-person"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-document"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-heart"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-alert-circled"></button>
          </div>
          <div style="padding-left: 7%">
          	<button class="icon ion-pin"></button>
      	  </div>
      	  <div style="padding-left: 7%">
          	<button class="icon ion-lock-combination"></button>
          </div>
    </div>

</ion-view>