<ion-view view-title="Rare Genomics Institute">
  <ion-content>
  <style>
    .in-take {
      outline: #000000 solid 1px;
      height: 40px;
      padding-top: 10px;
    }
    .edit {
      height: 160px;
      padding-top: 10px;
      outline: none;
    }

    .info {
      height: 50px;
      outline: #000000 solid 1px;
      width: 100%;
      display: table;
    }

  </style>

  <div style="height:50px"></div>

  <a href="#/about-you" style="text-decoration: none">
  <div style="padding: 10px">
    <button class="button button-block button-calm">
      Tell us about you!
    </button>
  </div>
  </a>

  <a href="#/scientific-consult" style="text-decoration: none">
    <div style="padding: 10px">
      <button class="button button-block button-calm">
        Scientific Consult
      </button>
    </div>
  </a>

  <a href="#/clinical-research" style="text-decoration: none">
    <div style="padding: 10px">
      <button class="button button-block button-calm">
        Clinical Research
      </button>
    </div>
  </a>

  <div style="height:20px"></div>

  </ion-content>

  <div class="bar bar-footer" style="position: fixed; bottom: 0; margin: 0">
          <div style="padding-left: 7%">
            <a href="#/home">
              <button class="icon ion-home"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/calendar">
              <button class="icon ion-calendar"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <a href="#/medical-contacts">
              <button class="icon ion-email"></button>
            </a>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-person"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-document"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-heart"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-alert-circled"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-pin"></button>
          </div>
          <div style="padding-left: 7%">
            <button class="icon ion-lock-combination"></button>
          </div>
    </div>

</ion-view>