<ion-view view-title="Sign In">
  <ion-content>
   <div class="padding">
       <h2 style="text-align: center;">Sign In</h2>
       <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <br>
      <a href="#/home">
          <button class="button button-royal" style="margin-bottom: 1em;">
          Sign In
        </button>
      </a>
      <p>If you have forgotten your username or password, we will email insructions on retrieving them to the email address you used when you signed up.</p>
      <a href="#/home">
          <button class="button button-royal">
          Retrieve username/password
        </button>
      </a>

    </div>
   </div>
  </ion-content>
</ion-view>
