<ion-view view-title="Sign Up">
  <ion-content>
   <div class="padding">
       <h2 style="text-align: center;">Sign Up</h2>
       <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Re-enter Password</span>
        <input type="password" placeholder="Re-enter Password">
      </label>
      <p>Passwords must be at least 6 characters and they must include at least one capital letter and one number or special character.</p>
      <ion-checkbox>I would like to receive news and updates from RGI</ion-checkbox>
      <label class="item item-input item-select">
       <div class="input-label">
          I am a:
        </div>
        <select>
          <option selected>Patient</option>
          <option>Other</option>
        </select>
      </label>
    </div>
   </div>
   <a href="#/terms-and-conditions">
       <button class="button button-full button-calm">
          Continue
        </button>
   </a>
  </ion-content>
</ion-view>
