<ion-view view-title="Terms and Conditions">
  <ion-content>
   <div class="padding">
       <div class="card">
          <div class="item item-text-wrap">
            Membership Eligibility<br>
            This site does not provide medical advice<br>
            Acceptable and lawful use of the by members<br>
            Nonprofit members<br>
            Members Referred by a nonprofit member<br>
            No Interference with operation of site<br>
            Site for non-commercial use only<br>
            Privacy<br>
            Posting nad use of content in the member area<br>
            History of updates/changes to terms and conditions of use:<br>
          </div>
          <ion-checkbox>I Agree</ion-checkbox>
        </div>
   </div>
   <a href="#/sign-in">
       <button class="button button-full button-calm">
          Continue
        </button>
   </a>
  </ion-content>
</ion-view>
