<ion-view view-title="Welcome">
  <ion-content>
   <div class="padding">
       <h2 style="text-align: center;">Welcome to RareBinder</h2>
        <p style="text-align: center;">
            The most comprehensive app for patients with rare genetic conditions
        </p>
        <img src="img/rg-logo.png" style="width: 100%;">
   </div>

  </ion-content>
    <a href="#/sign-up">
          <button class="button button-full button-calm" style="position: fixed; bottom: 0; margin: 0;">
              Continue
            </button>
      </a>
</ion-view>
